# Value_count(), idxmax(), idxmin(), apply metodları

In [5]:
import pandas as pd

In [7]:
kita = pd.read_csv('kıta.csv', squeeze=True)
kita

0     Kuzey Amerika
1              Asya
2              Asya
3            Avrupa
4            Avrupa
5            Avrupa
6              Asya
7            Avrupa
8     Güney Amerika
9     Kuzey Amerika
10           Avrupa
11             Asya
12           Avrupa
13        Okyanusya
14    Kuzey Amerika
15             Asya
16           Avrupa
17             Asya
18             Asya
19           Avrupa
Name: KITA, dtype: object

In [8]:
#listede elemanlardan kaç tane olduğunu basar (ÇOKTAN AZA)
kita.value_counts()

Avrupa           8
Asya             7
Kuzey Amerika    3
Okyanusya        1
Güney Amerika    1
Name: KITA, dtype: int64

In [11]:
#listede elemanlardan kaç tane olduğunu basar ascending=True olunca (AZDAN ÇOĞA)
kita.value_counts(ascending=True)

Güney Amerika    1
Okyanusya        1
Kuzey Amerika    3
Asya             7
Avrupa           8
Name: KITA, dtype: int64

In [14]:
gelir = pd.read_csv('milligelir.csv', squeeze=True)

In [15]:
#en yüksek elemanının kaçıncı indexte oldugunu gösterir
gelir.idxmax()

0

In [16]:
gelir

0     20410000
1     14090000
2      5170000
3      4210000
4      2940000
5      2930000
6      2850000
7      2180000
8      2140000
9      1800000
10     1720000
11     1690000
12     1510000
13     1500000
14     1210000
15     1070000
16      945000
17      910000
18      748000
19      741000
Name: Milli Gelir, dtype: int64

In [17]:
gelir.idxmin()

19

### Apply () metodu fonks kullanımını sağlar

In [22]:
def sinif(gel):
    if gel < 2000000:
        return 'orta'
    elif gel>=2000000 and gel <=5000000:
        return 'yuksek'
    else:
        return 'cok yuksek'

In [23]:
gelir.apply(sinif)

0     cok yuksek
1     cok yuksek
2     cok yuksek
3         yuksek
4         yuksek
5         yuksek
6         yuksek
7         yuksek
8         yuksek
9           orta
10          orta
11          orta
12          orta
13          orta
14          orta
15          orta
16          orta
17          orta
18          orta
19          orta
Name: Milli Gelir, dtype: object

In [24]:
gelir.apply(lambda gelir: gelir*2)

0     40820000
1     28180000
2     10340000
3      8420000
4      5880000
5      5860000
6      5700000
7      4360000
8      4280000
9      3600000
10     3440000
11     3380000
12     3020000
13     3000000
14     2420000
15     2140000
16     1890000
17     1820000
18     1496000
19     1482000
Name: Milli Gelir, dtype: int64