In [2]:
import pandas as pd

In [3]:
kupa=pd.read_csv("wcplayers.csv")
kupa["Team"]=kupa["Team"].astype("category")
kupa.head(3)

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
0,Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65
1,Argentina,22,MF,PAVON Cristian,21.01.1996,PAVÓN,CA Boca Juniors (ARG),169,65
2,Argentina,15,MF,LANZINI Manuel,15.02.1993,LANZINI,West Ham United FC (ENG),167,66

In [6]:
kupa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 9 columns):
Team                 736 non-null category
#                    736 non-null int64
Pos.                 736 non-null object
FIFA Popular Name    736 non-null object
Birth Date           736 non-null object
Shirt Name           736 non-null object
Club                 736 non-null object
Height               736 non-null int64
Weight               736 non-null int64
dtypes: category(1), int64(3), object(5)
memory usage: 48.3+ KB

In [5]:
kupa["Team"]=kupa["Team"].astype("category")

In [7]:
#farklı eleman sayısı
kupa["Team"].nunique()

32

In [10]:
#tüm harfleri küçültme :lower
#tüm harfleri büyütme : upper
#Baş harfini büyütme : title
#Tüm strginle yapıln işlemlerin basına 'str' konulur

kupa["FIFA Popular Name"].str.lower().str.upper().str.title().head()

0    Tagliafico Nicolas
1        Pavon Cristian
2        Lanzini Manuel
3        Salvio Eduardo
4          Messi Lionel
Name: FIFA Popular Name, dtype: object

In [12]:
kupa["FIFA Popular Name"].str.len().head()

0    18
1    14
2    14
3    14
4    12
Name: FIFA Popular Name, dtype: int64

#### İçindeki veriyi değiştirmek içi replace methodu

In [15]:
kupa["Team"].str.replace("Argentina","ARGENTİNA")
kupa["Birth Date"]=kupa["Birth Date"].str.replace(".","/")

In [17]:
kupa.head()

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
0,Argentina,3,DF,TAGLIAFICO Nicolas,31/08/1992,TAGLIAFICO,AFC Ajax (NED),169,65
1,Argentina,22,MF,PAVON Cristian,21/01/1996,PAVÓN,CA Boca Juniors (ARG),169,65
2,Argentina,15,MF,LANZINI Manuel,15/02/1993,LANZINI,West Ham United FC (ENG),167,66
3,Argentina,18,DF,SALVIO Eduardo,13/07/1990,SALVIO,SL Benfica (POR),167,69
4,Argentina,10,FW,MESSI Lionel,24/06/1987,MESSI,FC Barcelona (ESP),170,72

In [20]:
# birşeyin içide olup olmamasına bakma : contains metodu
manuel=kupa["FIFA Popular Name"].str.lower().str.contains("manuel")

In [21]:
kupa[manuel].head()

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
2,Argentina,15,MF,LANZINI Manuel,15/02/1993,LANZINI,West Ham United FC (ENG),167,66
275,Germany,1,GK,NEUER Manuel,27/03/1986,NEUER,FC Bayern München (GER),193,93
407,Morocco,4,DF,DA COSTA Manuel,06/05/1986,DA COSTA,Istanbul Başakşehir FK (TUR),187,78
513,Portugal,4,MF,MANUEL FERNANDES,05/02/1986,M. FERNANDES,FC Lokomotiv Moscow (RUS),174,69
686,Switzerland,5,DF,AKANJI Manuel,19/07/1995,AKANJI,Borussia Dortmund (GER),186,85

In [22]:
# şununla başlayanları getir demek için : starswith metodu
man=kupa["FIFA Popular Name"].str.lower().str.startswith("man")

In [23]:
kupa[man].head()

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
158,Croatia,17,FW,MANDZUKIC Mario,21/05/1986,MANDŽUKIĆ,Juventus FC (ITA),190,85
249,France,16,GK,MANDANDA Steve,28/03/1985,MANDANDA,Olympique Marseille (FRA),187,88
513,Portugal,4,MF,MANUEL FERNANDES,05/02/1986,M. FERNANDES,FC Lokomotiv Moscow (RUS),174,69
560,Saudi Arabia,2,DF,MANSOUR ALHARBI,19/10/1987,MANSOUR,Al Ahli SC (KSA),173,68
577,Senegal,10,FW,MANE Sadio,10/04/1992,MANE,Liverpool FC (ENG),175,69

In [26]:
# sonu şununla bitenleri getir demek için : endswith metodu
uel=kupa["FIFA Popular Name"].str.lower().str.endswith("uel")

In [27]:
kupa[uel].head()

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
2,Argentina,15,MF,LANZINI Manuel,15/02/1993,LANZINI,West Ham United FC (ENG),167,66
22,Argentina,1,GK,GUZMAN Nahuel,10/02/1986,GUZMÁN,Tigres UANL (MEX),192,90
102,Colombia,19,FW,BORJA Miguel,26/01/1993,M. BORJA,SE Palmeiras (BRA),183,74
245,France,5,DF,UMTITI Samuel,14/11/1993,UMTITI,FC Barcelona (ESP),183,84
275,Germany,1,GK,NEUER Manuel,27/03/1986,NEUER,FC Bayern München (GER),193,93

### lstrip methodu : solundaki boşlukları silmek için
### rstrip methodu : sağındaki boşlukları silmek için
### strip methodu : sağ ve soldaki boşlukları silmek için

In [28]:
"    merve y   ".lstrip().rstrip()

'merve y'

In [31]:
"    merv y   ".strip()

'merv y'

In [32]:
kupa["FIFA Popular Name"]=kupa["FIFA Popular Name"].str.strip()

In [33]:
kupa["Club"]=kupa["Club"].str.strip()

In [34]:
kupa=pd.read_csv("wcplayers.csv",index_col="Team")

In [35]:
kupa.index=kupa.index.str.strip()

In [36]:
kupa.columns=kupa.columns.str.upper().str.strip()

#### Split metodu bölmek için 
#### Split(" ") : boşluktan sonra böl demek

In [38]:
kupa["FIFA POPULAR NAME"].str.split(" ").str.get(0).str.title().value_counts().head()

Rodriguez    6
Ben          5
Kim          5
Mohamed      5
Ndiaye       3
Name: FIFA POPULAR NAME, dtype: int64

In [41]:
# expand = True , sutunlara boluyor ve ilk isim soy isim bu bölünen sutunların adları oluyor
kupa[["ilk isim","soyisim"]]=kupa["FIFA POPULAR NAME"].str.split(" ",expand=True,n=1)

In [40]:
kupa.head()

,#,POS.,FIFA POPULAR NAME,BIRTH DATE,SHIRT NAME,CLUB,HEIGHT,WEIGHT,ilk isim,soyisim
Team,,,,,,,,,,
Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65,TAGLIAFICO,Nicolas
Argentina,22,MF,PAVON Cristian,21.01.1996,PAVÓN,CA Boca Juniors (ARG),169,65,PAVON,Cristian
Argentina,15,MF,LANZINI Manuel,15.02.1993,LANZINI,West Ham United FC (ENG),167,66,LANZINI,Manuel
Argentina,18,DF,SALVIO Eduardo,13.07.1990,SALVIO,SL Benfica (POR),167,69,SALVIO,Eduardo
Argentina,10,FW,MESSI Lionel,24.06.1987,MESSI,FC Barcelona (ESP),170,72,MESSI,Lionel